.upload-container {
  width: 480px;
  margin: 40px auto;
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  text-align: center;
}

.upload-container h1 {
  margin-bottom: 8px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  background: #cbd5e1;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.tab-buttons .active {
  background: #719f6c;
  color: white;
}

/* SINGLE UPLOAD */
.upload-form {
  text-align: left;
}

.upload-form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.upload-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.upload-form button {
  width: 100%;
  padding: 12px;
  background: #719f6c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.excel-upload-box {
  padding: 20px;
  background: #f1f5f9;
  border: 2px dashed #94a3b8;
  border-radius: 10px;
  overflow-x: auto; }

.excel-upload-box > div {
  text-align: left;
  margin-bottom: 15px;
}

.excel-upload-box label{
    margin-left: 50px;
}

.excel-upload-box input {
  margin: 15px 15px;
}

.excel-upload-box input[type="text"] {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.excel-upload-box button {
  padding: 12px;
  width: 100%;
  background: #719f6c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.file-label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
}

.excel-upload-box .sample-format-box {
  margin-top: 20px;
  padding: 15px;
  background: #f7faff;
  border: 1px solid #dce6ff;
  border-radius: 10px;
}

.sample-format-box h3 {
  margin-bottom: 10px;
}

.sample-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.sample-table th,
.sample-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.note {
  margin-top: 10px;
  color: #d9534f;
  font-size: 14px;
}
